@model BerrasBioDB.Models.Customer
@inject BerrasBioDB.App_Data.Context _context;
@{
    ViewData["Title"] = "Booking";
}
<h4>Ticket</h4>
<hr />

<form asp-action="CustomersBooking">
    <div asp-validation-summary="ModelOnly" class="text-danger" />
    <input type="hidden" asp-for="Id" />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <label asp-for="Tickets" class="control-label"></label>
        <select asp-for="Tickets" class="form-control">
            @foreach (var ticket in _context.Tickets.Where(t => t.Customer == null))
            {
                <option>
                    @ticket.StartTime
                    @_context.Movies.Where(m => m == ticket.Movie).FirstOrDefault().Title;
                    @_context.Seats.Where(s => s == ticket.Seat).FirstOrDefault().Name;
                    (@_context.Seats.Where(s => s == ticket.Seat).FirstOrDefault().Venue.Name);
                </option>
            }
        </select>
        <span asp-validation-for="Tickets" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}