@model IEnumerable<BerrasBioDB.Models.Ticket>
@inject BerrasBioDB.App_Data.Context _context;
@{ViewData["Title"] = "Index";}

<img src="~/images/theaterbanner.jpg" class="movie_banner" />
<h2>Bookable</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("StartTime", "Index", new { sortOrder = ViewBag.StartTime })</th>
            <th>@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.MovieTitle })</th>
            <th>@Html.ActionLink("Seat", "Index", new { sortOrder = ViewBag.SeatName })</th>
            <th>@Html.ActionLink("Venue", "Index", new { sortOrder = ViewBag.VenueName })</th>
            <th>@Html.ActionLink("Customer", "Index", new { sortOrder = ViewBag.CustomerName })</th>
        </tr>
    </thead>
    <tbody class="bookable">
        @foreach (var item in Model)
        {
            if (item.Customer == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seat.Name)
                    </td>
                    <td>
                        <label>@_context.Venues.Where(v => v.Id == item.Seat.Venue.Id).FirstOrDefault().Name</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Name)
                    </td>
                    <td>
                        <a asp-action="CustomersBooking" asp-route-id="@item.Id">Book Ticket</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h2>None Bookable</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("StartTime", "Index", new { sortOrder = ViewBag.StartTime })</th>
            <th>@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.MovieTitle })</th>
            <th>@Html.ActionLink("Seat", "Index", new { sortOrder = ViewBag.SeatName })</th>
            <th>@Html.ActionLink("Venue", "Index", new { sortOrder = ViewBag.VenueName })</th>
            <th>@Html.ActionLink("Customer", "Index", new { sortOrder = ViewBag.CustomerName })</th>
        </tr>
    </thead>
    <tbody class="nonebookable">
        @foreach (var item in Model)
        {
            if (item.Customer != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seat.Name)
                    </td>
                    <td>
                        <label>@_context.Venues.Where(v => v.Id == item.Seat.Venue.Id).FirstOrDefault().Name</label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>